<!DOCTYPE html>
<html lang="en" xmlns:th="https://www..thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .container-sm {
            padding-top: 150px;
            max-width: 500px;
        }
    </style>

</head>

<body>
    <div class="container-sm">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form th:action="@{/login}" method="post">
                    <div class="text-center mb-3">
                        <p class="fs-1">Login System</p>
                    </div>
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Heng Tongsour" class="form-control"
                            required />
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="123456" class="form-control"
                            required />
                    </div>
                    <!-- Remember Me Checkbox -->
                    <div class="row mb-4">
                        <div class="col-md-6 d-flex justify-content-center">
                            <div class="form-check mb-3 mb-md-0">
                                <input class="form-check-input" type="checkbox" value="true" id="loginCheck" />
                                <label class="form-check-label" for="loginCheck"> Remember me </label>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center">
                            <a href="http://localhost:8080/ForgotPassword">Forgot password?</a>
                        </div>
                    </div>
                    <!-- Sign In Button -->
                    <div class="d-grid col-12 mx-auto mb-3">
                        <button class="btn btn-primary" type="submit">Sign in</button>
                    </div>
                    <!-- Register Section -->
                    <div class="row mb-4">
                        <div class="col-md-6 d-flex justify-content-center">
                            <div class="form-check mb-3 mb-md-0">
                                <label class="form-check-label" for="loginCheck">If you do not have an account</label>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center">
                            <a href="http://localhost:8080/register">Register here</a>
                        </div>
                    </div>
                </form>


                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </symbol>
                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                    </symbol>
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </symbol>
                </svg>
                <div class="alert alert-success d-none align-items-center d-flex" role="alert" id="successMessage">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                        <use xlink:href="#check-circle-fill" />
                    </svg>
                    <div>
                        Success to login system
                    </div>
                </div>
                <div class="alert alert-danger d-none align-items-center d-flex " role="alert" id="errorMessage">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    <div>
                        Incorrect Please try again !!!
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>